.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame {
  width: 400px;
  height: 400px;
  background: #3faf82;
  box-shadow: 0 0 10px 1px black;
  position: relative;
  border-radius: 20px;
}

.myLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20%;
  width: 20%;
}

.line {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5px;
  width: 60px;
  background-color: white;
  border-radius: 10px;
}

.line1 {
  top: 30%;

}

.line2 {
  top: 50%;

}

.line3 {
  top: 70%;

}

.myLine:hover {
  cursor: pointer;
}

.line1-animation {
  animation: Line1 1s forwards;

}

.line2-animation {
  animation: Line2 1s forwards;
}


.line3-animation {
  animation: Line3 1s forwards;

}


.noAnimation {
  animation: none 1s;
}

.line1-animation-rev {
  animation: Line1-reverse 1s forwards;

}

.line2-animation-rev {
  animation: Line2-reverse 1s forwards;
}

.line3-animation-rev {
  animation: Line3-reverse 1s forwards;
}

@keyframes Line1 {

  50% {
    transform: translate(-50%, 270%);

  }

  100% {
    transform: translate(-30px, 13px) rotate(45deg);
  }

}

@keyframes Line2 {
  50% {

    opacity: 0.5;

  }

  100% {
    opacity: 0;

  }
}

@keyframes Line3 {
  50% {
    transform: translate(-50%, -375%);
  }

  100% {
    transform: translate(-50%, -375%) rotate(-45deg);
  }

}

@keyframes Line1-reverse {

  0% {
    transform: translate(-30px, 13px) rotate(45deg);
  }

  80% {
    transform: translate(-50%, 270%);

  }


}

@keyframes Line2-reverse {
  0% {

    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }
}

@keyframes Line3-reverse {
  0% {
    transform: translate(-50%, -375%) rotate(-45deg);

  }

  80% {
    transform: translate(-50%, -375%);
  }

}