/* 外框 */
:root {
  --mainColor: #786450;
  --mainColor-lighter: hsl(30, 20%, 79%);
}

.container {
  height: 400px;
  width: 400px;
  background-image: linear-gradient(to top right, #eebe6c 0%, #ca7c4e 100%);
  position: relative;
}
/* 內容卡片 */
.card {
  display: flex;
  position: absolute;
  height: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  overflow: hidden;
  box-shadow: 3px 3px 5px var(--mainColor);
}
/* 左邊 */
.left {
  width: 200px;
}
/* 左邊上面部分 */
.section-pic {
  width: 100%;
  height: 50%;
  position: relative;
}
.self-pic {
  position: absolute;
  height: 140px;
  width: 140px;
  left: 50%;
  transform: translateX(-50%) scale(0.7);
  border-radius: 50%;
  background-image: url(../item1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: pointer;
  z-index: 2;
}
.circle1 {
  position: absolute;
  height: 150px;
  width: 150px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  left: -5%;
  top: -5%;
  z-index: 1;
  transform-origin: center;
  border-color: brown brown brown transparent;
  transition: transform 1.5s ease-in-out;
}
.self-pic:hover .circle1 {
  transform: rotate(360deg);
}

.circle2 {
  position: absolute;
  height: 160px;
  width: 160px;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  left: -8%;
  top: -8%;
  z-index: 1;
  transform-origin: center;
  border-color: brown transparent brown brown;
  transition: transform 1.5s ease-in-out;
}
.self-pic:hover .circle2 {
  transform: rotate(-360deg);
}

/* 左邊中間名字部分 */
.section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--mainColor);
}
/* 左邊下面按鈕部分 */
.section-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  gap: 10px;
}
.follow-btn,
.message-btn {
  border: 1px solid var(--mainColor);
  border-radius: 20px;
  padding: 2px 30px;
  color: var(--mainColor);
  transition: all 0.5s ease-in-out;
}
.message-btn {
  padding: 2px 26.5px;
}
.follow-btn:hover,
.message-btn:hover {
  background-color: var(--mainColor);
  color: white;
}

/* 右邊 */
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  row-gap: 1px;
}
.posts,
.likes,
.follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 33%;
  width: 100%;
  background-color: var(--mainColor-lighter);
  transition: all 0.5s ease-in-out;
}
.posts:hover,
.likes:hover,
.follower:hover {
  cursor: pointer;
  background-color: var(--mainColor);
}
